body
{
    text-align: center;
}
.container{
  background-color: aquamarine;  
}
#app {
    background-color: springgreen;
}

#myCarousel
{
    background-color: red;
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}

#game1{

    background-color: yellow;
    color: orangered;
    font-family: Century;
    font-weight: bold;
}

#game2{

    background-color: yellow;
    color: orangered;
    font-family: Century;
    font-weight: bold;
}

#game3{

    background-color: yellow;
    color: orangered;
    font-family: Century;
    font-weight: bold;
}

#game4{

    background-color: yellow;
    color: orangered;
    font-family: Century;
    font-weight: bold;
}

#h5{

    background-color: blue;
    color: cyan;
    font-family: Century;
    font-weight: bold;
}

#h2{

    background-color: blue;
    color: cyan;
    font-family: Century;
    font-weight: bold;
}

#Apps{

    background-color: blue;
    color: cyan;
    font-family: Century;
    font-weight: bold;
}




